<link rel="stylesheet" href="/css/aution.css"/>
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="#">Điện thoại</a></li>
      <li class="breadcrumb-item active" aria-current="page">iPhone 12</li>
    </ol>
  </nav>
  <h1 class="text text-center">Đấu giá sản phẩm</h1>
  <div class="card bg-light">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img
                src="/image/avata.jpg" /></div>
            <div class="tab-pane" id="pic-2"><img
                src="https://cdn.tgdd.vn/Products/Images/42/219314/samsung-galaxy-a21s-055620-045659-400x400.jpg" />
            </div>
            <div class="tab-pane" id="pic-3"><img
                src="https://cdn.tgdd.vn/Products/Images/42/190325/iphone-xr-hopmoi-den-600x600-400x400.jpg" /></div>
            <div class="tab-pane" id="pic-4"><img
                src="https://cdn.tgdd.vn/Products/Images/42/230630/vivo-y12s-4gb-128gb-073420-083440-400x400.jpg" />
            </div>
            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                  src="/image/avata.jpg" /></a>
            </li>
            <li><a data-target="#pic-2" data-toggle="tab"><img
                  src="https://cdn.tgdd.vn/Products/Images/42/219314/samsung-galaxy-a21s-055620-045659-400x400.jpg" /></a>
            </li>
            <li><a data-target="#pic-3" data-toggle="tab"><img
                  src="https://cdn.tgdd.vn/Products/Images/42/190325/iphone-xr-hopmoi-den-600x600-400x400.jpg" /></a>
            </li>
            <li><a data-target="#pic-4" data-toggle="tab"><img
                  src="https://cdn.tgdd.vn/Products/Images/42/230630/vivo-y12s-4gb-128gb-073420-083440-400x400.jpg" /></a>
            </li>
            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">iPhone 12 PRO MAX</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quia
            quisquam voluptatem, cum modi, facere beatae aut dignissimos, nesciunt tempora sunt quam id sapiente porro
            amet facilis odit dolor? Quibusdam.</p>
          <h4 class="price">Giá bán: <span>2.000.000 VND</span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">colors:
            <span class="color orange" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>
          <form action="">
            <div class="form-group form-group-lg">
              <label class="display-3" for="auction_price">Đấu giá</label>
              <input type="text" name="auction_price" id="auction_price" class="form-control "
                placeholder="Nhập vào giá muốn đấu giá">
            </div>
            <div class="action">
              <button class="add-to-cart btn btn-default" type="button">Đấu giá</button>
              <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>