{{!-- <h1 class="mt-5 text-center">Danh sách sản phẩm đang bán</h1>
<div class="my-container-fuild list-product">
    <div class="card product-item">
        <div class="card-img"
            style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
            <div class="overlay">
                <div class="overlay-content">
                    <a href="#!">View Details</a>
                </div>
            </div>
        </div>

        <div class="card-content">
            <a href="#">
                <div class="product-title">Dell gaming 7559</div>
                <div class="product-price">5.900.000đ</div>
            </a>
            <div class="location-wrapper">
                <i class="fas fa-map-marker-alt"></i><span class="location">Hà Nội</span>
            </div>
        </div>
    </div>
    <div class="card product-item">
        <div class="card-img"
            style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
            <div class="overlay">
                <div class="overlay-content">
                    <a href="#!">View Details</a>
                </div>
            </div>
        </div>

        <div class="card-content">
            <a href="#">
                <div class="product-title">Dell gaming 7559</div>
                <div class="product-price">5.900.000đ</div>
            </a>
            <div class="location-wrapper">
                <i class="fas fa-map-marker-alt"></i><span class="location">Hà Nội</span>
            </div>
        </div>
    </div>
    <div class="card product-item">
        <div class="card-img"
            style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
            <div class="overlay">
                <div class="overlay-content">
                    <a href="#!">View Details</a>
                </div>
            </div>
        </div>

        <div class="card-content">
            <a href="#">
                <div class="product-title">Dell gaming 7559</div>
                <div class="product-price">5.900.000đ</div>
            </a>
            <div class="location-wrapper">
                <i class="fas fa-map-marker-alt"></i><span class="location">Hà Nội</span>
            </div>
        </div>
    </div>
    <div class="card product-item">
        <div class="card-img"
            style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
            <div class="overlay">
                <div class="overlay-content">
                    <a href="#!">View Details</a>
                </div>
            </div>
        </div>

        <div class="card-content">
            <a href="#">
                <div class="product-title">Dell gaming 7559</div>
                <div class="product-price">5.900.000đ</div>
            </a>
            <div class="location-wrapper">
                <i class="fas fa-map-marker-alt"></i><span class="location">Hà Nội</span>
            </div>
        </div>
    </div>
    <div class="card product-item">
        <div class="card-img"
            style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
            <div class="overlay">
                <div class="overlay-content">
                    <a href="#!">View Details</a>
                </div>
            </div>
        </div>

        <div class="card-content">
            <a href="#">
                <div class="product-title">Dell gaming 7559</div>
                <div class="product-price">5.900.000đ</div>
            </a>
            <div class="location-wrapper">
                <i class="fas fa-map-marker-alt"></i><span class="location">Hà Nội</span>
            </div>
        </div>
    </div>
</div>

<ul class="pagination justify-content-center mt-5">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul> --}}

<div class="my-container-fuild py-5">

  <div class="row">
    <div class="col-lg-10 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$120.00</h6>
                <div class="amount h6">Số lượng : 1</div>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$99.00</h6>
                <div class="amount h6">Số lượng : 1</div>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485077/shoes-3_rk25rt.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item -->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$140.00</h6>
               <div class="amount h6">Số lượng : 1</div>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-2_g4qame.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

        <!-- list group item -->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">$220.00</h6>
                <div class="amount h6">Số lượng : 1</div>
              </div>
            </div><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485078/shoes-4_vgfjy9.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->

      </ul>
      <!-- End -->
    </div>
  </div>
</div>

<ul class="pagination justify-content-center mt-5">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>