<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Đối tác</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Tinhte.vn</a></li>
              <li><a href="#">Khacten.com</a></li>
              <li><a href="#">Bkvn.com</a></li>
              <li><a href="#">Misa.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Sản phẩm</h4>
            <ul class="list-unstyled">
              <li><a href="#">Điện thoại</a></li>
              <li><a href="#">Máy tính</a></li>
              <li><a href="#">Thiết bị thông minh</a></li>
              <li><a href="#">Đồng hồ</a></li>
              <li><a href="#">Camera</a></li>
              <li><a href="#">Máy tính bảng</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Thương hiệu</h4>
            <ul class="list-unstyled">
              <li><a href="#">Iphone</a></li>
              <li><a href="#">Apple</a></li>
              <li><a href="#">Dell</a></li>
              <li><a href="#">Asus</a></li>
              <li><a href="#">LV</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/miu.giang.5/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/huydinh210299" class="icoLinkedin" title="Github"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2020 - Fast Buy. All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
</footer>